body {
  background-color: #fff;
  font-family: 'Lucida Console';
}

h2 {
  color: #333;
  text-align: center;
}

#header {
  position: fixed;
  height: 0%;
  width: 100%;
  margin: 0px;
  padding: 5px;
  left: 0px;
  right: 0px;
  top: -10px;
}

#output {
  position: fixed;
  left: 0px;
  right: 0%;
  top: 5%;
  margin: 0px;
  border: 3px solid #666;
  height: 85%;
  overflow: scroll;
  padding: 5px;
}

#inputArea {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 10%;
  width: 100%;
  margin: 0px;
}

#inputData {
  position: fixed;
  width: 95%;
  height: 7%;
  margin: 1px;
  bottom: 1px;
  left: 2px;
}

#sendButton {
  width: 4%;
  position: fixed;
  right: 2px;
  height: 7.8%;
  margin: 2px;
  bottom: 0px;
}
